* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}


.tabination-container{
    width: 70%;
    margin: 0 auto;

    .tab__list{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 2px;

        .tab__item{
            width: calc(100% / 3);
            text-align: center;
            padding: 10px 0;
            background-color: rgb(209, 209, 209);
            transition: all .3s ease-in-out;
            cursor: pointer;
            position: relative;

            span{
                position: relative;
                z-index: 44;
                pointer-events: none;
            }

            &:hover{
                background-color: rgb(163, 163, 163);
            }
        }

        .tab__item.active{
            background-color: rgb(163, 163, 163);

            &::after{
                content: '';
                width: 100%;
                height: 2px;
                z-index: 33;
                position: absolute;
                background-color: #A32020;
                left: 0;
                bottom: 0;
                // transition: height .3s ease-in-out;
            }

            // &:hover{
            //     &::after{
            //         height: 100%;
            //     }
            // }

        }

        

    }

    .panel-container{
        width: 100%;
        position: relative;

        .tab-panel{
            position: absolute;
            background-color: #fff;
            border: 1px solid #dadada;
            padding: 15px;
            display: none;
        }

        .tab-panel.active{
            display: block;
        }
    }
}